@import url('https://fonts.googleapis.com/css2?family=SourceSerif4&family=Dosis&display=swap');

:root {
    --primary-color: #8B008B;
    --secondary-color: #000080;
    --accent1-color: #ADE0C0;
    --accent2-color: #FFFF00;
    
    --heading-font: 'Source Serif 4';
    --paragraph-font: 'Dosis', serif;
    
    --nav-background-color: #AFEEEE;
    --nav-link-color: #00008B;
    --nav-hover-link-color: #00008b;
    --nav-hover-background-color: #FFF5FF;
    }

   .hero {
    position: relative;
   } 

   h1 {
    position: absolute;
   }

   article {
    position: absolute;
   }
 
   article img {
    float: right;

   }

   .hero img {
    display: block;
    width: 100%;
    height: auto;
   }

   p {
    padding: 20%;
   }
